{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor qui sint quia maxime deserunt
    libero impedit officia, perferendis illo beatae id hic atque recusandae
    labore vero ea alias! Aspernatur asperiores deleniti iste, atque nostrum ullam quaerat commodi aut exercitationem.</p>
<p>Veritatis dolorum ut molestiae est ab nostrum obcaecati aut molestias repellendus, architecto, fuga error dicta!
    Cupiditate reprehenderit, saepe exercitationem quasi, aliquid atque asperiores, sapiente porro sunt soluta obcaecati dolor sit
    accusantium quod nam nemo velit est doloremque blanditiis earum. Hic?</p>


{% endblock %}